body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 20px;
    height:20px;
}

header .logo img {
    width: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 60px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    
}

.hero {
    
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: 500px;
}

.hero-text {
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}


.hero-text .shop-now {
    text-decoration: none;
    color: white;
    background-color: #111;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 100px;
    
}
.shop a{
    text-decoration: none;
    color: white;
    background-color: #111;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 100px;
}

.products {
    padding: 40px;
    text-align: center;
    margin-bottom: 80px;
}

.products h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.product-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 20px;
    margin-bottom: 20px;
}

.product-card .buy-now {
    text-decoration: none;
    color: white;
    background-color: #111;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}